



/*fonts*/
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-style:normal;
  font-size:xx-large;
  padding:10% 20%
  
  
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:200px;
  font-style: normal;
}


/*shared style*/
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #CCCCCC;
    border: none;
    padding:14px 26px;
    border-radius: 10px;
    cursor: pointer;

}
   .btn-secondary{
    background-color: #4E47FF;
    font-weight: none;
    color: white;
    border: none;
    padding: 16px 35px;
    border-radius: 10px;
    gap: 37 ;
    font-size: 60%;
    cursor: pointer;

   }
   .btn-third{
 background-color: #4E47FF;
    font-weight:none;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 80%;
    cursor: pointer;
    margin-left:10%;
    gap: 40%; 
    
    
   }


   .section-title{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style:normal;
  font-size:40px;
  padding-left: 10%;
  color: #252432; 
  

}

  .section-description{
font-family: "Raleway", sans-serif;
  font-optical-sizing:auto;
  font-weight:lighter;
  font-size:large;
  padding-left: 10% ;
  padding-right: 45px;
 padding-top:0%;
 color: #252432;
 

  }
   .heading-section{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 1300px;
    
   
   }
   .picture{
    border-radius: 10%; margin-top: 15%;
    margin-bottom: 20%;
   
   }
   .seeit{width: 1400%;
    padding-left: 15%;
    height: 328%;


}

 
  



  

  
 






/*header*/
 .header{
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png); 
    justify-content: center;
    height: 750px;
    }



/*nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px 0px  120px;
    
    
}
.nav-titel{
    font-weight:bold;
    font-size:30px;
    color: #4E47FF; 
    
    
    
}
nav ul li{
    list-style: none;
}
.banner{
    text-align: center;
    
   
}

